@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700italic);

.navbar-inverse .navbar-brand {
	border-radius: 0;
	font-family: 'Lobster Two', cursive;
	letter-spacing: 0.8px;
	font-weight: normal;
	font-style: normal;
	font-size: 35px;
}